<div class="container">
    <a href="{{url}}">
        <div class="flex flex-col justify-between px-30 py-20" {{#if  feature_image}} style="background-image:url('{{feature_image}}');"{{/if}}>
        </div>  
    </a>
    <div class="text-4xl text-white mt-8">
        <h6><a href="{{url}}">{{title}}</a></h6>
        <div class="">
            <p class="">
                {{date format="MMM DD, YYYY"}}
            </p>
        </div>
    </div>
</div>