<!--single news  post -->
<div class="flex justify-center mb-15">
    <a href="{{url}}">
    {{#if feature_image}}
        <div class="mr-15">
            <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{feature_image}}" alt="{{title}}">
        </div>
    {{/if}}
    </a>
    <div class="">
        <h6><a href="{{url}}" class="text-gray-900 text-bold">{{title}}</a></h6>
        <p class="d-flex align-items-center">
            {{date format="MMM DD, YYYY"}} 
            
        </p>
        <div class="gh-post-authors">
            Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
        </div>
    </div>
</div>