<!--single news  post -->
<div class="single-news-post d-flex  mb-15">
    <a href="{{url}}">
    {{#if feature_image}}
        <div class="card-thumb mr-15">
            <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{feature_image}}" alt="{{title}}">
        </div>
    {{/if}}
    </a>
    <div class="card-details card-details-2">
        <h6><a href="{{url}}">{{title}}</a></h6>
        <p class="d-flex align-items-center">
            <span class="w-14 inline-block">{{> icons/date}}</span>&nbsp;&nbsp;{{date format="MMM DD, YYYY"}}
        </p>
    </div>
</div>