<div class="col-start-2 col-span-2 ">
            <a href="{{url}}">
                <div class="flex flex-col justify-end px-8 py-8 top-big-thumbnail" {{#if  feature_image}} style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('{{feature_image}}');"{{/if}}>
                    <a class="post-card-link" href="{{url}}"></a>
                    <div class="text-4xl text-white mt-4">
                        <p class="text-4xl text-white"><a href="{{url}}">{{title}}</a></p>
                        <div class="card-details">
                            <p class="flex items-center">
                                <span class="w-14 inline-block">{{> icons/date}}</span>&nbsp;&nbsp;{{date format="MMM DD, YYYY"}}
                            </p>
                        </div>
                        {{#if @first}}
                        <p>
                            {{#if custom_excerpt}}
                            {{custom_excerpt}}
                            {{else}}
                            {{excerpt words="20"}}
                            {{/if}}
                        </p>
                        {{/if}}
                        <div class="post-btn mt-2">
                            <a href="{{url}}" class="gh-button">{{t "Read More"}}</a>
                        </div>
                    </div>
                </div>
            </a>
</div>