<div class="col-start-2 col-span-2 ">
            <a href="{{url}}">
                <div class="flex flex-col justify-end px-8 py-8 top-big-thumbnail" {{#if  feature_image}} style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('{{feature_image}}');"{{/if}}>
                    <a class="post-card-link" href="{{url}}"></a>
                    <div class="text-white mt-4">
                        <a href="{{url}}" class="text-white">{{title}}
                        <div class="card-details">
                            <p class="flex items-center text-xl text-red-700">
                                &nbsp;&nbsp;{{date format="MMM DD, YYYY"}}
                            </p>
                        </div>
                        {{#if @first}}
                        <p>
                            {{#if custom_excerpt}}
                            {{custom_excerpt}}
                            {{else}}
                            {{excerpt words="20"}}
                            {{/if}}
                        </p>
                        </a>
                        {{/if}}
                       
                    </div>
                </div>
            </a>
</div>